<div class="col-8 offset-2">
  <h1>create new task</h1>
  <%= simple_form_for @task do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%=f.submit 'create', class: 'btn btn-primary' %>
  <% end %>
</div>